<section class="main-section text-center text-md-start py-5">
  <div class="container p-md-5">
    <div class="row align-items-center flex-column flex-sm-row">
      <div class="col-sm-6 order-2 order-sm-1 mb-4 mb-sm-0">
        <h1 class="display-4 font-weight-bold">Diego</h1>
        <p class="lead">Software Developer</p>
        <p class="description">"Transformando desafios em soluções"</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/die-santana/" target="_blank" class="icon-link">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/diesantana" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <a href="path/to/your/cv.pdf" download class="btn btn-primary download-cv">
          <i class="fas fa-file-download"></i> Baixar CV
        </a>
      </div>
      <div class="col-sm-6 text-center order-1 order-sm-2">
        <img src="../../../../assets/diego.jpg" alt="Diego Santana" class="profile-photo">
      </div>
    </div>
  </div>
</section>
